/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.chevron {
  padding-left: 20px;
}

.check {
  margin-right: 10px;
  color: #FE7759;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

/* TEXT-SETTINGS */
a {
  text-decoration: none;
  color: #32495B;
}

li{
  text-decoration: none;
  color: #32495B;
}

h1 {
  font-size: 2.7em;
  color: #32495B;
}

h2{
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #FFF;
}

h3{
  font-size: 1.6em;
  color: #32495B;
}

h4{
  font-size: 1.2em;
  color: #32495B;
}

p {
  font-size: 1em;
  margin-bottom: 50px;
  line-height: 200%;
  color: #32495B;
}

.line-h{
  line-height: 30px;
}

.small-text{
  font-size: 0.7em;
  font-weight: 600;
  color: #32495B;
}

/* CONTAINERS */
.container-1 {
  height: 100%;
  padding: 0 15%;
}

.container-2 {
  height: 100%;
  padding: 0 20%;
}

/* BUTTONS */
.btn {
  background-color: #FE7759;
  border: 1px solid #FE7759;
  border-radius: 5px;
  color: #FFF;
  padding: 10px;
}

.btn-large {
  padding: 20px;
}

.btn-jumb{
  padding: 22px;
}

.btn.white-btn {
  margin-bottom: 15px;
  width: 70%;
  text-align: center;
  padding: 5px;
  border: none;
  background-color: #fff;
  list-style: none;
  cursor: pointer;
}

.btn.white-btn a {
  color: #32495B;
  font-weight: 600;
}

#login {
  background-color: #FAFCFE;
  color: #FE7759;
}

/* HEADER */

/* NAV */
nav.menu {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

nav.menu-fixed {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 999;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
}

nav.no-fixed {
  margin-top: 80px;
}


.menu li {
  list-style: none;
  display: inline-block;
  font-size: .9em;
  padding-right: 20px;
}

nav .menu-right li {
  padding-right: 0;
  padding-left: 20px;
}

nav.menu .lang .chevron {
  padding-left: 5px;
  padding-right: 20px;
  border-right: 2px solid #899398;
}

nav.menu .logo {
  display: inline-block;
  padding: 10px 0;
}

#search {
  color: #05A3BD;
  font-size: 0.9em;
}

/* JUMB */
header .jumbotron {
  position: relative;
  height: 598px;
  background-image: url(../img/jumbotron.png);
  background-color: rgb(255, 244, 239);
  background-position: 100% 100%;
  background-size: 1230px;
  background-repeat: no-repeat;
}

.jumbotron::after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 68px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #566a79;
  border-bottom: 3px solid #566a79;
}

.jumb-text h1 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.jumb-text p {
  padding-bottom: 0;
}

.jumb-text .small-text {
  padding-top: 60px;
}

/* MAIN */
main {
  background-color: #F4F9FD;
}

/* FIRST-INFORMATION */
main .first-information {
  height: 400px;
  width: 100%;
  text-align: center;
}

.first-information .cube {
  width: 80%;
  margin: auto;
  text-align: center;
}

.cube-text h3 {
  padding-bottom: 30px;
}

.cube img{
  height: 150px;
  margin-top: 50px;
}

/* FEATURES */
main .features {
  height: 1100px;
}

.features .main-feature {
  height: 340px;
  width: 100%;
  background-color:white;
}

.features .shadow {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #E6ECF0, -2px -2px 5px #E6ECF0 ;
}

.features .main-feature .left-side {
  height: 100%;
  width: 20%;
  text-align: center;
  margin: 0 30px;
}

.features .main-feature .left-side img {
  margin: 50px;
}

.features img {
  height: 100px;
  margin: 20px 0;
}

.features .main-feature .right-side {
  height: 100%;
  width: 60%;
  margin: 0 30px;
  padding: 50px 0;
}

.features h3 {
  margin-bottom: 30px;
  font-weight: 600;
}

.main-feature p {
  margin-bottom: 15px;
}

.features .main-feature .right-side .des-medium {
  min-height: 50px;
  margin-bottom: 30px;
}

.features h4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  color: #32495B;
}

.line {
  position: absolute;
  left: 48%;
  bottom: -392px;
  width: 550px;
  border-top: 2px solid #899398;
}


.features .marketing, .features .sales, .features .service {
  text-align: center;
  background-color: #FFF;
  min-height: 660px;
  margin: 50px 0;
  padding: 0 55px;
}

.features .sales {
  margin: 50px 5%;
}

.v-menu {
  display: block;
  text-align: left;
  margin-bottom: 50px;
}

.features .des-medium {
  position: relative;
  min-height: 180px;
}

.features .des-medium::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #899398;
}


/* SECOND-INFORMATION */
main .second-information {
  height: 650px;
  background-image: linear-gradient(90deg, #00AAB8, #02BBA8);
  text-align: center;
  padding-top: 50px;
}

.second-information .table .sec {
  height: 150px;
  min-height: 150px;
  padding: 15px 30px;
}

.second-information p{
  color: #FFF;
}

.second-information .des-small{
  font-size: 0.7em;
  line-height: 5%;
  padding-bottom: 20px;
}

.second-information .table .sec .bold {
  font-size: 2em;
  font-weight: 800;
  margin: 5px 0;
}

.second-information .table .sec:not(:nth-child(4n+0)) {
  border-right: 1px solid #FFF;
}

.second-information .table .sec:nth-child(n+5) {
  border-top: 1px solid #FFF;
}

/* COUNTRIES */
main .countries {
  height: 250px;
  padding-top: 50px;
}

main .countries .countries-text {
  display: inline-block;
}

main .countries .countries-text h2 {
  font-size: 2.5em;
  color: #32495B;
}

main .countries .menu {
  width: 50%;
  line-height: 60px;
}

main .countries img {
width: 100px;
vertical-align: middle;
}


/* GROWING */
main .growing {
  height: 600px;
  padding-top: 50px;
}

main .growing .growing-img img {
  width: 50%;
}

main .growing h2 {
  font-size: 2.5em;
  margin: 0;
  text-transform: capitalize;
  color: #32495B;
}

main .growing p {
  padding-top: 50px;
  color: #32495B;
}


/* FOOTER */
footer {
  min-height: 620px;
  background-color: #32495B;
}

.lists {
  margin-bottom: 80px;
}

footer li a {
  color:#FFF;
}

.first {
  text-transform: capitalize;
  padding-right: 50px;
}

.first h3 {
  color: #fff;
  font-size: 1em;
  padding-bottom: 20px;
  padding-top: 40px;
}

.first li {
  padding-bottom: 10px;
  line-height: 200%;
  font-size: 0.8em;
}

.first li.socials {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
}

li.socials i {
  padding-right: 27px;
}

.language {
  width: 80%;
  height: 50px;
  margin: auto;
}

.language ul {
  left: 50%;
  transform: translateX(26%);
}

.language li {
  line-height: 50px;
  display: inline-block;
  padding-right: 20px;
}

.credits {
  border-top: 1px solid #fff;
  padding-top: 30px;
}

.credits p {
  color: #fff;
  font-size: 0.8em;
}

.privacy {
  position: relative;
}

.pri-li {
  position: absolute;
  right: 0;
}

.privacy li {
  display: inline-block;
  padding-right: 15px;
}