/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.chevron {
  padding-left: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

/* TEXT-SETTINGS */
a {
  text-decoration: none;
  color: #32495B;
}

h1 {
  font-size: 2.7em;
  color: #32495B;
}

p {
  font-size: 1em;
  font-weight: 600;
  color: #32495B;
}

.line-h{
  line-height: 30px;
}

.small-text{
  font-size: 0.7em;
  font-weight: 600;
  color: #32495B;
}

/* CONTAINERS */
.container-1 {
  height: 100%;
  padding: 0 15%;
}

.container-2 {
  height: 100%;
  padding: 0 20%;
}

/* BUTTONS */
.btn {
  background-color: #FE7759;
  border: 1px solid #FE7759;
  border-radius: 5px;
  color: #FFF;
  padding: 10px;
}

.btn-large {
  padding: 20px;
}

.btn-jumb{
  padding: 22px;
}

#login {
  background-color: #FAFCFE;
  color: #FE7759;
}

/* HEADER */

/* NAV */
nav.menu {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

nav.menu-fixed {
  /* position: fixed;
  top: 0; */
  width: 100%;
  z-index: 999;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
}

nav.menu li {
  display: inline-block;
  font-size: .9em;
  padding-right: 20px;
}

nav .menu-right li {
  padding-right: 0;
  padding-left: 20px;
}

nav.menu .lang .chevron {
  padding-left: 5px;
  padding-right: 20px;
  border-right: 2px solid #899398;
}

nav.menu .logo {
  display: inline-block;
  padding: 10px 0;
}

#search {
  color: #05A3BD;
  font-size: 0.9em;
}

/* JUMB */
header .jumbotron {
  position: relative;
  height: 598px;
  background-image: url(../img/jumbotron.png);
  background-color: rgb(255, 244, 239);
  background-position: 100% 100%;
  background-size: 1230px;
  background-repeat: no-repeat;
}

.jumbotron::after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 68px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #566a79;
  border-bottom: 3px solid #566a79;
}

.jumb-text h1{
  padding-top: 40px;
  padding-bottom: 30px;
}

.jumb-text p{
  padding-bottom: 50px;
}

.jumb-text .small-text{
  padding-top: 60px;
}

/* MAIN */

/* FIRST-INFORMATION */
main {
  background-color: #F4F9FD;
}

main .first-information {
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: red;
}

/* FEATURES */
main .features {
  height: 1100px;
  background-color: yellowgreen;
}

.features .main-feature {
  height: 340px;
  width: 100%;
  margin-top: 30px;
  background-color: orange;
}

.features .marketing, .features .sales, .features .service {
  background-color: orange;
  min-height: 660px;
  margin: 50px 0;
}

.features .sales {
  margin: 50px 5%;
}

/* SECOND-INFORMATION */
main .second-information {
  height: 700px;
  background-color: violet;
}

/* CUSTOMERS */
main .countries {
  height: 250px;
  background-color: skyblue;
}

/* START */
main .growing {
  height: 450px;
  background-color: yellow;
}

/* FOOTER */
footer {
  min-height: 620px;
  background-color: #32495B;
}